# This is a sample .gitignore file for Python projects

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
__pycache__

# Distribution / build files
*.egg-info/
dist/
build/

# Notebook and other IPython-related files
.ipynb_checkpoints/
*.ipynb

# Environments
.env
venv/
virtualenvs/

# Pytest cache
.cache/

.vscode/
node_modules
